.navbarcontainer{
    background-color: rgb(28, 181, 252);
  
}
.navbar-nav .nav-item{
    display: flex;
    align-items: center;
}
.icon-wrapper{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10px;
    
}
.pi{
    font-size: inherit;
}

.quantity-value{
    min-width: 50px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}